html {

}
body {
	  text-rendering: optimizeLegibility;
	  -moz-osx-font-smoothing: grayscale;
	  -webkit-font-smoothing: antialiased;
	  font-smoothing: antialiased;
	  text-rendering: optimizeLegibility;
	  margin: 0;
	  padding: 0;
	}

p {
    text-indent: 25px;
}

p::first-letter { 
/*    font-size: 110%;
    font-weight: bold;*/
}

/* unvisited link */
a:link {
    color: rgb(86, 112, 140);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgb(86, 112, 140);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(86, 112, 140);
    text-decoration: none;
}

/* selected link */
a:active {
    color: rgb(86, 112, 140);
    text-decoration: none;
}

.title {
	width: 100%;
	background-color: rgb(39, 40, 34);
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
  	box-shadow: 0px 0px 3px 3px #ccc;
}

.title .bigheader {
	font-family: 'Lato', sans-serif;
	width: 60%;
	font-size: 40;
	color: #fff;
	margin-left: 50;
	margin-top: 0px;
	font-weight: 400;
	line-height: 90%;
}

.title .subheader {
	font-family: 'Lato', sans-serif;
	width: 60%;
	font-size: 18;
	color: #555;
	margin-left: 0px;
	font-weight: 200;
	line-height: 100%;
}

.text {
	font-size: 15px;
	font-family: 'Vollkorn', serif;
	width: 740px;
	margin-left: 50px;
/*		margin-right: auto;*/
	color: #222222;
}

.textfontonly {
	font-size: 15px;
	font-family: 'Vollkorn', serif;
	color: #222222;
	vertical-align: top;
}

.example {
	font-family: 'Inconsolata';
	/*background-color: #444444;*/
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	color: #333;
	font-size: 15px;
	border-radius: 5px;
	font-weight: normal;
}

.inlineexample {
	font-family: 'Lato';
	color: #333;
	font-weight: bold;
}

.indent_example {
	font-size: 15px;
	font-family: 'Vollkorn', serif;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	color: #333333;
	text-align: center;
}

.controls {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.quote {
	font-size: 13px;
	font-family: 'Lato', serif;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	color: #333333;
	text-align: center;
}

.textbutton {
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	font-size: 13px;
	font-family: 'Lato', serif;
}

.diversion {
	font-size: 13px;
	font-family: 'Lato', serif;
	width: 100%;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	color: #666666;
	/*background-color: #444444;*/
	border-radius: 5px;
	border: 1px #999999 solid
}

.bigheader {
	font-family: 'Lato', sans-serif;
	width: 60%;
	font-size: 40;
	color: #333333;
	margin-left: 50;
	margin-top: 100px;
	font-weight: 400;
}

.mediumheader {
	font-family: 'Lato', sans-serif;
	width: 60%;
	font-size: 30;
	color: #333333;
	margin-left: 50px;
	margin-top: 100px;
	font-weight: 400;
}

.littleheader {
	font-family: 'Lato', sans-serif;
	width: 60%;
	font-size: 24;
	color: rgb(39, 40, 34);
	margin-left: 50px;
	margin-top: 50px;
	margin-bottom: 25px;
	font-weight: 400;
}

.subheader {
	font-family: 'Lato', sans-serif;
	width: 100%;
	font-size: 24;
	color: #777;
	margin-left: 0px;
	font-weight: 400;
}

.figureExplanation {
	font-family: 'Lato', sans-serif;
	font-size: 11;
	padding-left: 10px;
	vertical-align: top;
	width: 200px;
	color: #666;
}

.figureTable {
	width: 900px;
	margin-left: 50px;
}

.figureCaption
{
	text-align:center;
	font-size:12px;
	font-family: 'Lato', serif;
}

.math {
	text-align: center;
	vertical-align: top;

	font-size: 15px;
	font-family: 'Vollkorn', serif;
	width: 740px;
	margin-left: 50px;
/*		margin-right: auto;*/
	color: #222222;
}

.bigicon {
	font-size: 15;
}

.footnote {
	font-family: 'Lato', sans-serif;
	font-size: 10;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	color: #666666;
}

.indentAside {
	font-family: 'Lato', sans-serif;
	font-size: 13;
	width: 60%;
	margin-left: 50px;
	color: #333;
}

.fourierEquation {
	font-size:120%;
	color:#444444;
	margin-left:auto;
	margin-right:0;
	vertical-align: top;
	overflow:hidden;
}

.dftSignalText {
	font-family: 'Lato', sans-serif;
	font-size: 13;
	padding-left: 15px;
	vertical-align: top;
}

.footer {
	width: 100%;
	background-color: rgb(39, 40, 34);
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
  	box-shadow: 0px 0px 3px 3px #ccc;
}

.footerbutton {
	font-family: 'Lato', sans-serif;
	font-size: 14;
	color: #999;
	cursor: pointer;
	width: 60px;
	margin-left: 400px;
	font-weight: bold;
}

.footerbutton:hover {
	color: #fff;
	/*background-color: #333;*/
}

.footerbutton a:link {
	color: #999;
	text-decoration: none;
}

.footerbutton a:visited {
    color: #999;
    text-decoration: none;
}

.footerbutton a:hover {
    color: #fff;
    text-decoration: none;
}

.footerbutton a:active {
    color: #666;
    text-decoration: none;
}

.footerbutton:hover a {
    color: #fff;
    text-decoration: none;
}

.sectionButton {
	font-family: 'Lato', sans-serif;
	font-size: 11;
	color: #666;
	float: left;
	padding: 5px;
	margin-right: 10px;
	/*border: solid 1px #333;*/
	border-radius: 3;
	cursor: pointer;
	/*text-shadow: 1px 1px #222;*/
}

.sectionButton:hover {
	color: #fff;
	background-color: #333;
}

.current {
	color: #fff;
	background-color: #333;
	/*outline: solid 1px #444;*/
}

.sectionButton a:link {
	color: #666;
	text-decoration: none;
}

.sectionButton a:visited {
    color: #666;
    text-decoration: none;
}

.sectionButton a:hover {
    color: #fff;
    text-decoration: none;
}

.sectionButton a:active {
    color: #666;
    text-decoration: none;
}

.sectionButton:hover a {
    color: #fff;
    text-decoration: none;
}

.contentsHeader {
	font-family: 'Lato', sans-serif;
	font-size: 14;
	color: #888;
	padding: 5px;
	clear: both;
}

.animation {
  /*cursor: pointer;*/
}

.animation button {
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  border: solid 1px #ccc;
  color: #333;
  background: #fff;
  bottom: 20px;
  left: 20px;
}

.animation button:hover {
  border-color: #777;
  color: #000;
  /*box-shadow: 0 1px 1px rgba(0,0,0,.2);*/
}

.animation button.disabled {
  color: #ccc;
  border: solid 1px #ccc;
  /*box-shadow: 0 0px 0px rgba(0,0,0,.2);*/
}

.animation button.disabled:hover {
  color: #ccc;
  border: solid 1px #ccc;
  /*box-shadow: 0 0px 0px rgba(0,0,0,.2);*/
}

.animation button:focus {
  outline: none;
}

.menu {
	width: 900px;
}

label {
	font-family: 'Lato', sans-serif;
	font-size: 13;
}

sup { vertical-align: top; position: relative; top: -0.1em; }


.MathJax_SVG SVG > g,
.MathJax_SVG_Display SVG > g {
fill: #555;
stroke: #555;
}

.svgWithText {
	font-family: 'Lato', sans-serif;
	font-size: 10px;

	user-select: none;
	-moz-user-select: none;
  	-webkit-user-select: none;
}

.axis {}

.axis path,
.axis line {
	 	fill: none;
	stroke: #333333;
	shape-rendering: crispEdges;
}
.gridAxis path,
.gridAxis line {
	 	fill: none;
	stroke: #dddddd;
	stroke-width: 1;
	shape-rendering: crispEdges;
}